.reportForm {
    margin-top: 1rem;
}

.function--element {
    margin-bottom: 1rem;
}

.function--value {
    border-bottom: 1px #ccc solid;
    padding: 0.8rem 0.1rem 0.1rem 0.1rem;
}
.function--value > span {
    padding: 7px 0 7px 15px;
}
.function--value > fieldset {
    padding: 7px 0 7px 15px;
}
.function--value legend {
    font-size: 1rem;
}

.function--info {
    border-bottom: 1px #ccc solid;
    padding: 4px;
}

.function--sources {
    border-bottom: 1px #ccc solid;
    padding: 4px;
    font-size: 1rem;
}
.function--sources legend {
    font-size: 1rem;
}

.function--description {
    padding: 4px;
}

.editor--freetext {
    height: 15em;
}
.editor--freetext > div {
    height: 100%;
}
.editor--freetext > div > textarea {
    height: 100%;
}

.function--heading, .function-preview {
    padding: 0.5rem 1.25rem;
    margin: 0.5rem 0;
}

div[id*="detailed--info__"] {
    display: none;
}

.function--card {
    /* fallback */
    background-color: #cdeef5;
    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdeef5), to(#ffffff));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #cdeef5, #ffffff);
    /* Firefox 3.6+ */ background: -moz-linear-gradient(top, #ffffff, #ffffff);
    /* IE 10 */ background: -ms-linear-gradient(top, #cdeef5, #ffffff);
    /* Opera 11.10+ */ background: -o-linear-gradient(top, #cdeef5, #ffffff);
}

.card {
    margin-bottom: 1rem;
}