.custom-tag {
    max-width: 100%;
    height: 300px;
    background: #fff;
    color: #0069d9;
    text-align: center;
    padding-top: 75px;
    font-size: 2.7em;
    font-family: 'Great Vibes', Helvetica, sans-serif;
}
.carousel-caption {
    color: #0069d9;
}
.carousel-indicators li {
    background-color: hsla(211, 100%, 43%, 0.5);
}
.carousel-indicators .active {
    background-color: #0069d9;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230069d9' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}
.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230069d9' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
img.d-block.img-fluid {
    visibility: hidden;
}
/*http://4.bp.blogspot.com/-zhybbt13LwA/Uh8ptePt-sI/AAAAAAAABPk/VKG_5nO5Zm4/s1600/Background-X-Repeat2.jpg*/
.jumbotron {
    background: url('../../images/background.jpg') repeat-x center center;
    text-align: center;
}