.container.main {
  padding-top: 1.5rem;
}
nav.fixed-top {
  height: 5.5em;
}

.form--settings {
  margin-top: 1.5em;
}

.tab-content.tab-persons {
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar--settings {
  margin: 1em;
}

.App-logo {
  height: 80px;
}
